<br><br>

<button (click)="onMyClick()"
        (mouseover)="onMouseOverButtonClick()"
        (mouseout)="onMouseOutButtonClick()"
        [style.color]="startColorButtonClick"
        [style.font-size]="myFontSize"
        [style.padding]="myPadding"><b>MyClick</b>
</button>


<br><br>

<button (dblclick)="onMyDoubleClick()">onMyDoubleClick</button>

<br><br>


<h2>
    <span
      [style.color]="startColor1"
      (mouseover)="onMouseOver()"
      (mouseout)="onMouseOut()">Master UNG</span>


  <span [style.color]="startColor2"
        (mouseover)="onMouseOverLast()"
        (mouseout)="onMouseOutLast()"> Doramon</span>
</h2>


<br><br>


<input
  #messageInput
  type="text"
  placeholder="Your Message"
  [style.padding]="myPadding">


<button
  (click)="onClickSentMessage(messageInput.value)"
  [style.padding]="myPadding"
  [style.margin-left]="myPadding"><b>Sent Message</b></button>


